 **Environment Setup**

In [11]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

The system cannot find the path specified.
'wget' is not recognized as an internal or external command,
operable program or batch file.
tar: Error opening archive: Failed to open 'spark-3.1.1-bin-hadoop3.2.tgz'

In [12]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [13]:
import findspark
findspark.init()

Exception: Unable to find py4j in /content/spark-3.1.1-bin-hadoop3.2\python, your SPARK_HOME may not be configured correctly

In [7]:
from pyspark import SparkContext, SparkConf
spark_conf=SparkConf().setMaster("local[*]").setAppName("assignment")
sc=SparkContext(conf=spark_conf)

ModuleNotFoundError: No module named 'pyspark'

In [9]:
# Reading text file
path="/content/data.txt"
rdd=sc.textFile(path)

NameError: name 'sc' is not defined

In [10]:
rdd.collect()

NameError: name 'rdd' is not defined

# Q1: Select the records of the students from lahore campus.Display few records and print the count of the students from Lahore campus
**Answer**

In [10]:
rdd1 = rdd.filter(lambda x:x[0]=='L') # The roll number of Lahore students starts with L

In [11]:
rdd1.collect()

['L22-2100 DB D',
 'L21-1705 OS A',
 'L22-2101 DB D',
 'L21-1601 SE F',
 'L21-1702 SE B',
 'L20-1705 DB A',
 'L21-1755 DB A',
 'L22-1705 OS B',
 'L19-1895 OS B']

In [12]:
# Display only 3
rdd1.take(3)

['L22-2100 DB D', 'L21-1705 OS A', 'L22-2101 DB D']

In [13]:
rdd1.count()  #Total Students from Lahore Campus are

9

# Q2: Display the count of student from each Campus
**Answer**

In [14]:
# We have already found the count of Lahore Campus Students which are 9

# Students From Karachi Campus and Islamabad Campus

In [15]:
rdd2 = rdd.filter(lambda x:x[0]=='K') # The roll number of karachi studnts starts with K

In [16]:
rdd2.collect()

['K21-1601 SE F',
 'K18-1702 DS B',
 'K21-1601 OS F',
 'K21-1805 SE C',
 'K21-1765 OS F',
 'K21-2705 SE A']

In [17]:
# Count Karachi Students
rdd2.count()

6

In [18]:
rdd3 = rdd.filter(lambda x:x[0]=='I')

In [19]:
#  Count Islamabad Students
rdd3.count()

4

# For each course print the number of failures on Lahore campus

In [20]:
# Since the last character showing grade shows the fails status with F grade and previous two characters
# show course

In [21]:
rdd4=rdd.filter(lambda x :(x[0]=='L') &(x[-1]=='F') & (x[9:11]=='SE'))
rdd4.collect() # This shows Lahore Campus students failed in 'SE' subject

['L21-1601 SE F']

In [22]:
rdd5=rdd.filter(lambda x :(x[0]=='L') &(x[-1]=='F') & (x[9:11]=='DS')) # Student of Lahore Campus failed in "DS" subject
rdd6=rdd.filter(lambda x :(x[0]=='L') &(x[-1]=='F') & (x[9:11]=='OS')) # //   //    //    //     //   //    'OS'  //

In [23]:
rdd5.collect()
# Since empty list shows that in Lahore campus no student failed of DS and OS subject

[]

In [24]:
rdd6.collect()

[]

# For each course print the number of failures on Karachi campus

In [25]:
rdd7=rdd.filter(lambda x :(x[0]=='K') &(x[-1]=='F') & (x[9:11]=='SE')) #Karachi campus students of 'SE' subject failed
rdd8=rdd.filter(lambda x :(x[0]=='K') &(x[-1]=='F') & (x[9:11]=='DS')) # //  //  //  //  //    //  'DS'  //   //   //
rdd9=rdd.filter(lambda x :(x[0]=='K') &(x[-1]=='F') & (x[9:11]=='OS')) # //  //  //  //  //  //   'OS'  //  //   //

In [26]:
rdd7.collect()

['K21-1601 SE F']

In [27]:
rdd8.collect()

[]

In [28]:
rdd9.collect() #This shows that two 'OS' and one "SE" subject students failed in Karachi Campus

['K21-1601 OS F', 'K21-1765 OS F']

In [29]:
# The above programme  shows that in Karachi Campus two students of OS subject and one student of SE subject failed

# For each course print the number of failures on Islamabad campus

In [30]:
rdd10=rdd.filter(lambda x :(x[0]=='I') &(x[-1]=='F') & (x[9:11]=='SE')) # Islamabad Campus students of 'SE' subject failed
rdd11=rdd.filter(lambda x :(x[0]=='I') &(x[-1]=='F') & (x[9:11]=='DS')) # Islamabad Campus students of 'DS' subject failed
rdd12=rdd.filter(lambda x :(x[0]=='I') &(x[-1]=='F') & (x[9:11]=='OS')) # Islamabad Campus students of 'OS' subject failed

In [31]:
rdd10.collect()

['I19-1655 SE F']

In [32]:
rdd11.collect()

[]

In [33]:
rdd12.collect() # This shows that In Islamabad two students of OS and one SE subject failed

['I21-1601 OS F', 'I21-3705 OS F']

# Q3 Find the Minimum and Maximum grades in each subject.The ordering of grades is as follows A>B>C>D>E>F
**ANSWER**

students having maximum and minimum grades of SE subject

In [64]:
rdd13 = rdd.filter(lambda x:(x[-1]=='A') & (x[9:11]=='SE')) # Since maximum grade is A

In [65]:
rdd13.collect() # Since two students of SE subject have maximum grade

['I19-1705 SE A', 'K21-2705 SE A']

In [67]:
rdd14 = rdd.filter(lambda x:(x[-1]=='F') & (x[9:11]=='SE')) # Since minimum grade is F

In [68]:
rdd14.collect() # Shows three students of SE group are fail having F (minimum grade)

['K21-1601 SE F', 'L21-1601 SE F', 'I19-1655 SE F']

students having maximum and minimum grades of 'DS' subject

In [69]:
rdd15 = rdd.filter(lambda x:(x[-1]=='A') & (x[9:11]=='DS')) # Since maximum grade is A

In [73]:
rdd15.collect() # Shows no any student of DS subject have maximum grade

[]

In [71]:
rdd16 = rdd.filter(lambda x:(x[-1]=='F') & (x[9:11]=='DS')) # Since minimum grade is F

In [82]:
rdd16.collect() # no any student of SE group is fail having F (minimum grade)

[]

Students having maximum and minimum grades of 'OS' subject

In [83]:
rdd17 = rdd.filter(lambda x:(x[-1]=='A') & (x[9:11]=='OS')) # Since minimum grade is F

In [84]:
rdd17.collect() # Shows one student of OS subject have maximum A grade

['L21-1705 OS A']

In [85]:

rdd18 = rdd.filter(lambda x:(x[-1]=='F') & (x[9:11]=='OS')) # Since minimum grade is F

In [86]:
rdd18.collect() # This shows Four students of 'OS' subject are fail having F grade

['I21-1601 OS F', 'K21-1601 OS F', 'K21-1765 OS F', 'I21-3705 OS F']